* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main section div#next-but {
  position: absolute;
  height: 50px;
  border: 2px double goldenrod;
  border-radius: 5px;
  bottom: 15px;
}

main section div#next-but button {
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: fantasy;
  font-size: 1rem;
  letter-spacing: 4px;
  color: white;
  width: 120px;
}

main section div#next-but button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  text-align: center;
  height: 100%;
  width: 180px;
  font-size: 2rem;
  transition: font-size 0.5s;
  transition: width 1s;
  transition: background-color 0.5s;
}

main section div#next-but button a {
  text-decoration: none;
  color: white;
}
